In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
pd.options.display.float_format = '{:,.5f}'.format


import matplotlib 
from matplotlib import pyplot as plt
from matplotlib import style
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

C:\Users\A803377\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
df_oneStream= pd.read_excel(r'C:\Users\A803377\Downloads\Reporting_CubeData_M8.xlsx',sheet_name=1,keep_default_na=False)
# df_oneStream= pd.read_csv(r'C:\Users\A803377\Downloads\Reporting_CubeData_2023M9.csv', keep_default_na=False)
df_oneStream

,Cube,Entity,Parent,Cons,Scenario,Time,View,Account,Flow,Origin,IC,UD1,UD2,UD3,UD4,UD5,UD6,UD7,UD8,Amount,HasData,Annotation,Assumptions,AuditComment,Footnote,VarianceExplanation
0,Reporting,1020,,USD,Actual_FPA,2023M1,Periodic,Revenue,TOP,Top,Top,NA_PP,920,TOP,TOP,1P,None,Top,None,"4,837,040.51000",Yes,,,,,
1,Reporting,1020,,USD,Actual_FPA,2023M1,Periodic,Revenue,TOP,Top,Top,NA_PP,906,TOP,TOP,5B,None,Top,None,"3,312,958.45000",Yes,,,,,
2,Reporting,1020,,USD,Actual_FPA,2023M1,Periodic,Revenue,TOP,Top,Top,NA_PP,0,TOP,TOP,1K,None,Top,None,"179,214.00000",Yes,,,,,
3,Reporting,1020,,USD,Actual_FPA,2023M1,Periodic,Revenue,TOP,Top,Top,NA_PP,911,TOP,TOP,1P,None,Top,None,"199,602.63000",Yes,,,,,
4,Reporting,1020,,USD,Actual_FPA,2023M1,Periodic,Revenue,TOP,Top,Top,NA_PP,908,TOP,TOP,5B,None,Top,None,"1,510,081.48000",Yes,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63645,Reporting,9641,,NZD,Actual_FPA,2023M8,Periodic,MGMT_GR_Prof,TOP,Top,Top,Intercompany,904,TOP,TOP,99,None,Top,None,"-2,280.51000",Yes,,,,,
63646,Reporting,9641,,NZD,Actual_FPA,2023M8,Periodic,MGMT_GR_Prof,TOP,Top,Top,Intercompany,906,TOP,TOP,99,None,Top,None,"-34,466.79000",Yes,,,,,
63647,Reporting,9641,,NZD,Actual_FPA,2023M8,Periodic,MGMT_GR_Prof,TOP,Top,Top,Intercompany,912,TOP,TOP,99,None,Top,None,-396.52000,Yes,,,,,
63648,Reporting,9641,,NZD,Actual_FPA,2023M8,Periodic,MGMT_GR_Prof,TOP,Top,Top,Intercompany,916,TOP,TOP,99,None,Top,None,"-6,698.93000",Yes,,,,,
63649,Reporting,9641,,NZD,Actual_FPA,2023M8,Periodic,MGMT_GR_Prof,TOP,Top,Top,Intercompany,918,TOP,TOP,99,None,Top,None,-941.72000,Yes,,,,,

In [3]:
df_oneStream.columns

Index(['Cube', ' Entity', ' Parent', ' Cons', ' Scenario', ' Time', ' View',
       ' Account', ' Flow', ' Origin', ' IC', ' UD1', ' UD2', ' UD3', ' UD4',
       ' UD5', ' UD6', ' UD7', ' UD8', ' Amount', ' HasData', ' Annotation',
       ' Assumptions', ' AuditComment', ' Footnote', ' VarianceExplanation'],
      dtype='object')

In [11]:
df_oneStream.columns

Index(['Cube', ' Entity', ' Parent', ' Cons', ' Scenario', ' Time', ' View',
       ' Account', ' Flow', ' Origin', ' IC', ' UD1', ' UD2', ' UD3', ' UD4',
       ' UD5', ' UD6', ' UD7', ' UD8', ' Amount', ' HasData', ' Annotation',
       ' Assumptions', ' AuditComment', ' Footnote', ' VarianceExplanation'],
      dtype='object')

In [6]:
df_oneStream = df_oneStream[[' Entity',' Account',' UD1',' Amount',' Time']]
df_oneStream.rename(columns = {' Entity':'Company Code',' UD1': 'Reporting_Line',' Account':'Account',' Amount':'Amount',' Time':'Fiscal Period'}, inplace = True)
df_oneStream= df_oneStream.groupby(["Company Code","Account","Reporting_Line",'Fiscal Period'],as_index=False)["Amount"].sum()
df_oneStream = df_oneStream.pivot_table(index=["Company Code","Reporting_Line",'Fiscal Period'],columns='Account',values='Amount',aggfunc='sum',).fillna(0)
df_oneStream.rename(columns = {'MGMT_GR_Prof':'GP'}, inplace = True)
df_oneStream.reset_index(inplace=True)

# Changes
df_oneStream['Company Code'] = df_oneStream['Company Code'].apply(lambda x: '{0:0>4}'.format(x))
df_oneStream["Reporting_Line"]= df_oneStream["Reporting_Line"].replace({'LAM_IWT':'LAM_IS', 'LAM_PP':'LAM_CS','APAC_PP':'AP_CS','APAC_IWT':'AP_IS',
                                                                    'EMEA_PP':'EMEA_CS','EMEA_IWT':'EMEA_IS','NA_PP':'NA_CS','NA_IWT':'NA_IS',
                                                                   'PS_EMEA':'EMEA_PS','PS_LA':'SA_PS','PS_NAM':'NA_PS','PS_SA':'ZA_PS'},regex=True)

df_oneStream["Reporting_Line"]= df_oneStream["Reporting_Line"].replace('None', 'NVOther',regex=True)
df_oneStream["Reporting_Line"]= df_oneStream["Reporting_Line"].replace('No_SG', 'NVOther',regex=True)
df_oneStream = df_oneStream.groupby(['Company Code','Reporting_Line','Fiscal Period'],as_index=False).sum()

df_oneStream

Account,Company Code,Reporting_Line,Fiscal Period,GP,Revenue
0,0070,EMEA_CS,2023M1,"188,155,211.76347","415,875,149.51000"
1,0070,EMEA_CS,2023M2,"149,952,739.25570","298,356,199.02000"
2,0070,EMEA_CS,2023M3,"149,565,280.82394","312,592,283.32000"
3,0070,EMEA_CS,2023M4,"135,493,648.46903","284,139,561.32000"
4,0070,EMEA_CS,2023M5,"154,413,978.20947","306,022,531.58000"
...,...,...,...,...,...
1698,ZA01,ZA_PS,2023M4,"25,911,676.52750","86,069,401.47000"
1699,ZA01,ZA_PS,2023M5,"37,442,741.34800","99,765,719.59000"
1700,ZA01,ZA_PS,2023M6,"27,783,813.44760","87,426,064.48000"
1701,ZA01,ZA_PS,2023M7,"26,815,727.63290","69,688,699.38000"
1702,ZA01,ZA_PS,2023M8,"21,480,444.24870","70,723,949.26000"

In [7]:
df_oneStream["Fiscal Period"]= df_oneStream["Fiscal Period"].replace({'2023M1': '2023001','2023M2': '2023002','2023M3': '2023003','2023M4': '2023004','2023M5': '2023005','2023M6': '2023006','2023M7': '2023007','2023M8': '2023008','2023M9': '2023009'},regex=True)
df_oneStream["Fiscal Period"] = df_oneStream["Fiscal Period"].astype('string')


# df_oneStream["Fiscal Period"]= df_oneStream["Fiscal Period"].replace({'2023M6': '2023006'},regex=True)
# df_oneStream["Fiscal Period"] = df_oneStream["Fiscal Period"].astype('string')

In [8]:
# df_oneStream = df_oneStream[df_oneStream['Fiscal Period'] == '2023009']
df_oneStream

Account,Company Code,Reporting_Line,Fiscal Period,GP,Revenue
0,0070,EMEA_CS,2023001,"188,155,211.76347","415,875,149.51000"
1,0070,EMEA_CS,2023002,"149,952,739.25570","298,356,199.02000"
2,0070,EMEA_CS,2023003,"149,565,280.82394","312,592,283.32000"
3,0070,EMEA_CS,2023004,"135,493,648.46903","284,139,561.32000"
4,0070,EMEA_CS,2023005,"154,413,978.20947","306,022,531.58000"
...,...,...,...,...,...
1698,ZA01,ZA_PS,2023004,"25,911,676.52750","86,069,401.47000"
1699,ZA01,ZA_PS,2023005,"37,442,741.34800","99,765,719.59000"
1700,ZA01,ZA_PS,2023006,"27,783,813.44760","87,426,064.48000"
1701,ZA01,ZA_PS,2023007,"26,815,727.63290","69,688,699.38000"
1702,ZA01,ZA_PS,2023008,"21,480,444.24870","70,723,949.26000"

In [9]:
df_Onestream_Rev = df_oneStream.groupby("Fiscal Period")["Revenue"].sum()
df_Onestream_Rev

Fiscal Period
2023001   77,146,166,997.79340
2023002   74,737,246,877.38670
2023003   85,090,050,084.34776
2023004   78,162,579,455.89613
2023005   62,696,036,244.62400
2023006   79,590,689,287.31032
2023007   54,784,579,277.20168
2023008   74,423,860,923.86000
Name: Revenue, dtype: float64

In [10]:
df_Onestream_GP = df_oneStream.groupby("Fiscal Period")["GP"].sum()
df_Onestream_GP

Fiscal Period
2023001   17,645,470,378.73150
2023002   20,522,201,501.09881
2023003   26,302,408,581.61504
2023004   21,556,999,555.91660
2023005   14,379,348,681.59034
2023006   24,944,679,997.29438
2023007   13,668,148,887.70858
2023008   22,182,305,999.20306
Name: GP, dtype: float64

In [93]:
# df_Onestream_GP = df_oneStream.groupby("Fiscal Period")["GP"].sum()
# df_Onestream_GP

In [2]:
# df_Onestream_GP = df_oneStream.groupby("Reporting_Line")["GP"].sum()
# df_Onestream_GP

In [3]:
# df_Onestream_GP = df_oneStream.groupby("Reporting_Line")["Revenue"].sum()
# df_Onestream_GP

In [49]:
print('GP:',df_oneStream['GP'].sum())
print('NR:',df_oneStream['Revenue'].sum())

GP: 18627526401.66405
NR: 72200967685.59

In [11]:
df_dest= pd.read_excel(r'C:\Users\A803377\Downloads\Destination P10.xlsx',sheet_name=1)
df_dest['CompanyCode'] = df_dest['CompanyCode'].apply(lambda x: '{0:0>4}'.format(x))
df_dest["Reporting_Line"]= df_dest["Reporting_Line"].replace(np.nan, 'NVOther',regex=True)
df_dest["Reporting_Line"]= df_dest["Reporting_Line"].replace('Specialties', 'NVOther',regex=True)
df_dest = df_dest.drop(df_dest[df_dest['CompanyCode'] == '0000'].index)
df_dest["Fiscal Period"] = df_dest["Fiscal Period"].astype('string')
df_dest[['$LC Rev','$LC GP']] = df_dest[['$LC Rev','$LC GP']]*1000
df_dest.rename(columns = {'CompanyCode':'Company Code'}, inplace = True)
df_dest = df_dest.groupby(['Company Code','Reporting_Line','Fiscal Period'],as_index=False).sum()
df_dest["Fiscal Period"] = df_dest["Fiscal Period"].astype('string')
df_dest

,Company Code,Reporting_Line,Fiscal Period,$LC Rev,$LC GP
0,0070,EMEA_CS,2023001,"415,875,149.51000","188,208,330.36400"
1,0070,EMEA_CS,2023002,"298,356,199.02000","149,916,010.06200"
2,0070,EMEA_CS,2023003,"312,592,283.32000","149,578,733.45500"
3,0070,EMEA_CS,2023004,"284,139,561.32000","135,498,467.14200"
4,0070,EMEA_CS,2023005,"306,022,531.58000","154,471,804.78300"
...,...,...,...,...,...
4610,ZA04,NVOther,2023006,0.00000,0.00000
4611,ZA04,NVOther,2023007,0.00000,0.00000
4612,ZA04,NVOther,2023008,0.00000,0.00000
4613,ZA04,NVOther,2023009,0.00000,0.00000
4614,ZA04,NVOther,2023010,0.00000,0.00000

In [12]:
df_dest_Rev = df_dest.groupby("Fiscal Period")["$LC Rev"].sum()
df_dest_Rev

Fiscal Period
2023001   77,147,016,626.93950
2023002   74,738,146,345.25090
2023003   85,089,931,946.73711
2023004   78,162,439,095.63840
2023005   62,696,744,759.05010
2023006   79,591,032,768.80589
2023007   54,818,109,832.22060
2023008   74,424,871,151.92000
2023009   72,202,261,242.54140
2023010   59,000,594,176.32110
Name: $LC Rev, dtype: float64

In [13]:
df_dest_Rev = df_dest.groupby("Fiscal Period")["$LC Rev"].sum()
df_dest_Rev

Fiscal Period
2023001   77,147,016,626.93950
2023002   74,738,146,345.25090
2023003   85,089,931,946.73711
2023004   78,162,439,095.63840
2023005   62,696,744,759.05010
2023006   79,591,032,768.80589
2023007   54,818,109,832.22060
2023008   74,424,871,151.92000
2023009   72,202,261,242.54140
2023010   59,000,594,176.32110
Name: $LC Rev, dtype: float64

In [53]:
df_dest_GP = df_dest.groupby("Fiscal Period")["$LC GP"].sum()
df_dest_GP

Fiscal Period
2023009   18,298,154,273.08321
Name: $LC GP, dtype: float64

In [54]:
df_dest_GP = df_dest.groupby("Fiscal Period")["$LC GP"].sum()
df_dest_GP

Fiscal Period
2023009   18,298,154,273.08321
Name: $LC GP, dtype: float64

In [55]:
df_dest['Reporting_Line'].sort_values().drop_duplicates()
print('GP:',df_dest['$LC GP'].sum())
print('NR:',df_dest['$LC Rev'].sum())

GP: 18298154273.083206
NR: 70404055501.3014

In [56]:
df_dest['Reporting_Line'].sort_values().drop_duplicates()
print('GP:',df_dest['$LC GP'].sum())
print('NR:',df_dest['$LC Rev'].sum())

GP: 18298154273.083206
NR: 70404055501.3014

In [57]:
df_dest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Code    445 non-null    object
 1   Reporting_Line  445 non-null    object
 2   Fiscal Period   445 non-null    string
 3   $LC Rev         445 non-null    float64
 4   $LC GP          445 non-null    float64
dtypes: float64(2), object(2), string(1)
memory usage: 17.5+ KB

In [58]:
df_oneStream.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222 entries, 8 to 1923
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Code    222 non-null    object
 1   Reporting_Line  222 non-null    object
 2   Fiscal Period   222 non-null    string
 3   GP              222 non-null    float64
 4   Revenue         222 non-null    float64
dtypes: float64(2), object(2), string(1)
memory usage: 10.4+ KB

In [14]:
# Merging Mapping And Difference File
df_new = pd.merge(df_oneStream,df_dest,on=['Company Code','Reporting_Line','Fiscal Period'],how='outer')

df_new[['GP','Revenue','$LC Rev','$LC GP']]= df_new[['GP','Revenue','$LC Rev','$LC GP']].replace(np.nan, 0.0,regex=True)
df_new['$LC Rev Diff'] =  df_new['$LC Rev'] - df_new['Revenue']
df_new['$LC GP Diff'] =  df_new['$LC GP']- df_new['GP']

df_new

,Company Code,Reporting_Line,Fiscal Period,GP,Revenue,$LC Rev,$LC GP,$LC Rev Diff,$LC GP Diff
0,0070,EMEA_CS,2023001,"188,155,211.76347","415,875,149.51000","415,875,149.51000","188,208,330.36400",0.00000,"53,118.60053"
1,0070,EMEA_CS,2023002,"149,952,739.25570","298,356,199.02000","298,356,199.02000","149,916,010.06200",0.00000,"-36,729.19370"
2,0070,EMEA_CS,2023003,"149,565,280.82394","312,592,283.32000","312,592,283.32000","149,578,733.45500",0.00000,"13,452.63106"
3,0070,EMEA_CS,2023004,"135,493,648.46903","284,139,561.32000","284,139,561.32000","135,498,467.14200",0.00000,"4,818.67297"
4,0070,EMEA_CS,2023005,"154,413,978.20947","306,022,531.58000","306,022,531.58000","154,471,804.78300",0.00000,"57,826.57353"
...,...,...,...,...,...,...,...,...,...
4661,ZA04,NVOther,2023006,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4662,ZA04,NVOther,2023007,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4663,ZA04,NVOther,2023008,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4664,ZA04,NVOther,2023009,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4665,ZA04,NVOther,2023010,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [15]:
df_final_GP = df_new.groupby("Fiscal Period")["GP"].sum()
df_final_GP

Fiscal Period
2023001   17,645,470,378.73150
2023002   20,522,201,501.09881
2023003   26,302,408,581.61504
2023004   21,556,999,555.91660
2023005   14,379,348,681.59034
2023006   24,944,679,997.29438
2023007   13,668,148,887.70858
2023008   22,182,305,999.20306
2023009                0.00000
2023010                0.00000
Name: GP, dtype: float64

In [16]:
df_Mapping= pd.read_excel(r'C:\Users\A803377\Downloads\Topsides Mapping.xlsx',sheet_name=0)
df_Mapping

   Reporting_Line Sales Group Customer Group
0           AP_CS      SG_PAP             16
1           AP_IS      SG_WAP             17
2         EMEA_CS      SG_PEU             16
3         EMEA_IS      SG_WEU             17
4         EMEA_PS      SG_PLK             PG
5    Intercompany      SG_999             99
6          LAM_CS      SG_PLA             16
7          LAM_IS      SG_WLA             17
8           NA_CS      SG_PNA             16
9           NA_IS      SG_WNA             17
10          NA_PS      SG_PL0             PG
11        NVOther       No_SG             14
12            RSA      SG_RSA             RS
13          SA_PS      SG_PLE             PG
14          ZA_PS      SG_PZK             PG

In [17]:
print('GP Difference:',df_new['$LC GP'].sum()- df_oneStream['GP'].sum())
print('NR Difference:',df_new['$LC Rev'].sum() - df_oneStream['Revenue'].sum())

GP Difference: 33562639208.427673
NR Difference: 131239938797.00476

In [18]:
print('GP:',df_new['$LC GP Diff'].sum())
print('NR:',df_new['$LC Rev Diff'].sum())

GP: 33562639208.42767
NR: 131239938797.00499

In [19]:
# Merging Mapping And Difference File

df_final = pd.merge(df_new,df_Mapping,on=['Reporting_Line'],how='outer')
df_final

,Company Code,Reporting_Line,Fiscal Period,GP,Revenue,$LC Rev,$LC GP,$LC Rev Diff,$LC GP Diff,Sales Group,Customer Group
0,0070,EMEA_CS,2023001,"188,155,211.76347","415,875,149.51000","415,875,149.51000","188,208,330.36400",0.00000,"53,118.60053",SG_PEU,16
1,0070,EMEA_CS,2023002,"149,952,739.25570","298,356,199.02000","298,356,199.02000","149,916,010.06200",0.00000,"-36,729.19370",SG_PEU,16
2,0070,EMEA_CS,2023003,"149,565,280.82394","312,592,283.32000","312,592,283.32000","149,578,733.45500",0.00000,"13,452.63106",SG_PEU,16
3,0070,EMEA_CS,2023004,"135,493,648.46903","284,139,561.32000","284,139,561.32000","135,498,467.14200",0.00000,"4,818.67297",SG_PEU,16
4,0070,EMEA_CS,2023005,"154,413,978.20947","306,022,531.58000","306,022,531.58000","154,471,804.78300",0.00000,"57,826.57353",SG_PEU,16
...,...,...,...,...,...,...,...,...,...,...,...
4661,ZA01,ZA_PS,2023006,"27,783,813.44760","87,426,064.48000","85,739,241.63000","29,118,668.38000","-1,686,822.85000","1,334,854.93240",SG_PZK,PG
4662,ZA01,ZA_PS,2023007,"26,815,727.63290","69,688,699.38000","71,138,854.17000","23,387,106.48000","1,450,154.79000","-3,428,621.15290",SG_PZK,PG
4663,ZA01,ZA_PS,2023008,"21,480,444.24870","70,723,949.26000","75,073,519.11000","22,328,433.43000","4,349,569.85000","847,989.18130",SG_PZK,PG
4664,ZA01,ZA_PS,2023009,0.00000,0.00000,"57,215,909.45000","19,969,845.92000","57,215,909.45000","19,969,845.92000",SG_PZK,PG
4665,ZA01,ZA_PS,2023010,0.00000,0.00000,"47,510,932.36000","15,731,919.48000","47,510,932.36000","15,731,919.48000",SG_PZK,PG

In [20]:
print('GP:',df_final['$LC GP Diff'].sum())
print('NR:',df_final['$LC Rev Diff'].sum())

GP: 33562639208.42766
NR: 131239938797.005

In [21]:
# '$LC GP Diff':'$LC COGS GP',
# Changing Naming Convention 
df_final.rename(columns = {'Revenue':'$LC OS Rev','GP':'$LC OS GP',
                           '$LC Rev':'$LC EDW Rev','$LC GP':'$LC EDW GP'}, inplace = True)
df_final['$LC Final Rev Diff'] =  df_final['$LC Rev Diff'] * -1
df_final['$LC Topsides COGS'] = df_final['$LC GP Diff'] -df_final['$LC Rev Diff']
# df_final['Fiscal Period'] = Fiscal_Period
df_final['Datasource'] = 'Controllers Topsides'
df_final=df_final.sort_values(by=['Fiscal Period'])

df_final

,Company Code,Reporting_Line,Fiscal Period,$LC OS GP,$LC OS Rev,$LC EDW Rev,$LC EDW GP,$LC Rev Diff,$LC GP Diff,Sales Group,Customer Group,$LC Final Rev Diff,$LC Topsides COGS,Datasource
0,0070,EMEA_CS,2023001,"188,155,211.76347","415,875,149.51000","415,875,149.51000","188,208,330.36400",0.00000,"53,118.60053",SG_PEU,16,-0.00000,"53,118.60053",Controllers Topsides
1723,0070,NVOther,2023001,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
1729,0072,NVOther,2023001,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
1752,0271,NVOther,2023001,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
1762,0310,NVOther,2023001,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,2380,NVOther,2023010,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
2386,2360,NVOther,2023010,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
2385,2350,NVOther,2023010,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
2573,FR11,NVOther,2023010,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,No_SG,14,-0.00000,0.00000,Controllers Topsides
4665,ZA01,ZA_PS,2023010,0.00000,0.00000,"47,510,932.36000","15,731,919.48000","47,510,932.36000","15,731,919.48000",SG_PZK,PG,"-47,510,932.36000","-31,779,012.88000",Controllers Topsides

In [67]:

print('NR:',df_final['$LC Final Rev Diff'].sum())
print('COGS:',df_final['$LC Topsides COGS'].sum())

NR: 1796912184.2886002
COGS: 1467540055.707759

In [22]:
df_final_GP = df_final.groupby("Fiscal Period")["$LC GP Diff"].sum()
df_final_GP

Fiscal Period
2023001     -635,411,068.57428
2023002      244,215,382.26682
2023003      308,406,214.80615
2023004      192,933,358.82028
2023005      196,267,281.67947
2023006      315,247,215.46943
2023007      221,963,286.72414
2023008      203,465,776.03209
2023009   18,922,138,574.27087
2023010   13,593,413,186.93270
Name: $LC GP Diff, dtype: float64

In [24]:
df_final_GP = df_final3.groupby("Fiscal Period")["$LC Topsides COGS"].sum()
df_final_GP

Fiscal Period
2023001      -636,260,697.72038
2023002       243,315,914.40262
2023003       308,524,352.41682
2023004       193,073,719.07802
2023005       195,558,767.25337
2023006       314,903,733.97385
2023007       188,432,731.70522
2023008       202,455,547.97209
2023009   -53,280,122,668.27052
2023010   -45,407,180,989.38840
Name: $LC Topsides COGS, dtype: float64

In [25]:
df_final_Rev = df_final3.groupby("Fiscal Period")['$LC Final Rev Diff'].sum()
df_final_Rev

Fiscal Period
2023001          -849,629.14610
2023002          -899,467.86420
2023003           118,137.61067
2023004           140,360.25774
2023005          -708,514.42610
2023006          -343,481.49558
2023007       -33,530,555.01892
2023008        -1,010,228.06000
2023009   -72,202,261,242.54140
2023010   -59,000,594,176.32110
Name: $LC Final Rev Diff, dtype: float64

In [73]:
df_final_Rev = df_final3.groupby("Fiscal Period")['$LC Topsides COGS'].sum()
df_final_Rev

Fiscal Period
2023009   1,467,540,055.70776
Name: $LC Topsides COGS, dtype: float64

In [69]:
df_final[['$LC Topsides COGS','$LC GP Diff','$LC Final Rev Diff']]= df_final[['$LC Topsides COGS','$LC GP Diff','$LC Final Rev Diff']].replace(np.nan, 0.0,regex=True)
df_final.to_excel('TopSides $LC 2023009 v1.xlsx',index=False)

# file_name_Top = 'TopSides $LC 2022.xlsx'

# df_final.to_excel(file_name_Top,index=False)
# df_final

In [23]:
df_final2= df_final[["Company Code","Reporting_Line","Customer Group","Sales Group",'$LC Final Rev Diff','$LC Topsides COGS','Fiscal Period','Datasource']]
df_final3 = df_final2.loc[~((df_final2['$LC Final Rev Diff'] == 0.0) & (df_final2['$LC Topsides COGS'] == 0.0))]
df_final3 = df_final2.loc[~((df_final2['$LC Final Rev Diff'] == -0.0) & (df_final2['$LC Topsides COGS'] == -0.0))]
df_final3 = df_final2.loc[~((df_final2['$LC Final Rev Diff'] == -0.0) & (df_final2['$LC Topsides COGS'] == 0.0))]
df_final3 = df_final2.loc[~((df_final2['$LC Final Rev Diff'] == 0.0) & (df_final2['$LC Topsides COGS'] == -0.0))]

df_final3

# file_name_Top_Final = 'TopSides Final $LC 2023009 v1.xlsx'

# df_final3.to_excel(file_name_Top_Final,index=False)

,Company Code,Reporting_Line,Customer Group,Sales Group,$LC Final Rev Diff,$LC Topsides COGS,Fiscal Period,Datasource
0,0070,EMEA_CS,16,SG_PEU,-0.00000,"53,118.60053",2023001,Controllers Topsides
1786,0390,NVOther,14,No_SG,-0.00000,-17.22000,2023001,Controllers Topsides
1905,0490,NVOther,14,No_SG,-0.00000,-193.89000,2023001,Controllers Topsides
1719,ZA01,NVOther,14,No_SG,-0.00000,481.47000,2023001,Controllers Topsides
1930,0498,NVOther,14,No_SG,-0.00000,"-391,917.80000",2023001,Controllers Topsides
...,...,...,...,...,...,...,...,...
4051,CA02,NA_IS,17,SG_WNA,"-41,074.12000","-25,465.54000",2023010,Controllers Topsides
4053,US33,NA_IS,17,SG_WNA,"-1,986,445.01300","-1,302,313.54400",2023010,Controllers Topsides
2432,4009,NVOther,14,No_SG,-0.00000,"-674,112.48000",2023010,Controllers Topsides
4063,US40,NA_IS,17,SG_WNA,-0.00000,"-25,000.00000",2023010,Controllers Topsides
4665,ZA01,ZA_PS,PG,SG_PZK,"-47,510,932.36000","-31,779,012.88000",2023010,Controllers Topsides